h1 {
  color: black;
}

mat-form-field {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;

  button {
    width: 100%;
  }
}
