<mat-card [ngClass]="{ active: isActive }">
  <mat-card-header>
    <mat-card-title>{{ label }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ value?.value | number : numberFormat }}
    {{ value?.unit }}
  </mat-card-content>

  @if (showActions) {
    <mat-card-actions>
      @if (this.canEdit && this.value?.value) {
        <button
          mat-button
          (click)="raiseEditEvent()"
          >
          <mat-icon fontIcon="settings"></mat-icon>
        </button>
      }
      @if (canShowStats) {
        <button mat-button (click)="showStatsEvent()">
          <mat-icon>insert_chart</mat-icon>
        </button>
      }
      @if (canShowConsumption) {
        <button
          mat-button
          (click)="showConsumptionEvent()"
          >
          <mat-icon>electric_meter</mat-icon>
        </button>
      }
    </mat-card-actions>
  }
</mat-card>
