.main-content {
  margin-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.value-card {
  flex-grow: 4;
  height: 140px;
  width: calc(20% - 30px);

  @media only screen and (max-width: 1600px) {
    width: calc(25% - 20px);
  }

  @media only screen and (max-width: 1200px) {
    width: calc(33.33% - 10px);
  }

  @media only screen and (max-width: 900px) {
    width: calc(50% - 15px);
  }

  @media only screen and (max-width: 600px) {
    width: calc(100% - 30px);
  }
}

mat-progress-spinner {
  max-height: 90%;
}
