<dangl-header logoInitials="DS" prefix="Dangl." postfix="SchneidControl">
  <mat-progress-spinner
    *ngIf="isLoading"
    mode="indeterminate"
    color="accent"
  ></mat-progress-spinner>
</dangl-header>

<div class="main-content">
  <app-transfer-station-status
    class="value-card"
    label="Betriebsart"
    [value]="(dashboardValues$ | async)?.transferStationStatus || null"
    (onStatusChanged)="transferStationStatusChanged()"
  ></app-transfer-station-status>
  <app-heating-circuit-status
    class="value-card"
    label="Heizkreis 1"
    [value]="(dashboardValues$ | async)?.circuitStatus00 || null"
  ></app-heating-circuit-status>
  <app-heating-circuit-status
    class="value-card"
    label="Heizkreis 2"
    [value]="(dashboardValues$ | async)?.circuitStatus01 || null"
  ></app-heating-circuit-status>

  <app-bool-value
    class="value-card"
    label="Pumpe Heizkreis 1"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.HeatingCircuit0Pump"
    (onStatsRequested)="
      showStats(logEntryTypes.HeatingCircuit0Pump, 'Pumpe Heizkreis 1')
    "
    [value]="(dashboardValues$ | async)?.pumpStatus00 || null"
  ></app-bool-value>
  <app-bool-value
    class="value-card"
    label="Pumpe Heizkreis 2"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.HeatingCircuit1Pump"
    (onStatsRequested)="
      showStats(logEntryTypes.HeatingCircuit1Pump, 'Pumpe Heizkreis 2')
    "
    [value]="(dashboardValues$ | async)?.pumpStatus01 || null"
  ></app-bool-value>
  <app-bool-value
    class="value-card"
    label="Ladepumpe Pufferspeicher"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.BufferLoadingPump"
    (onStatsRequested)="
      showStats(logEntryTypes.BufferLoadingPump, 'Ladepumpe Pufferspeicher')
    "
    [value]="(dashboardValues$ | async)?.bufferLoadingPumpStatus || null"
  ></app-bool-value>
  <app-bool-value
    class="value-card"
    label="Ladepumpe Boiler"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.BoilerLoadingPump"
    (onStatsRequested)="
      showStats(logEntryTypes.BoilerLoadingPump, 'Ladepumpe Boiler')
    "
    [value]="(dashboardValues$ | async)?.boilerLoadingPumpStatus || null"
  ></app-bool-value>

  <app-decimal-value
    class="value-card"
    label="Aussentemperatur"
    [decimalPlaces]="1"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.OuterTemperature"
    (onStatsRequested)="
      showStats(logEntryTypes.OuterTemperature, 'Aussentemperatur')
    "
    [value]="(dashboardValues$ | async)?.outerTemperature || null"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Gesamtenergieverbrauch"
    [decimalPlaces]="0"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.TotalEnergyConsumption"
    (onStatsRequested)="
      showStats(logEntryTypes.TotalEnergyConsumption, 'Gesamtenergieverbrauch')
    "
    [value]="(dashboardValues$ | async)?.totalEnergyConsumption || null"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Leistung Wärmetauscher"
    [decimalPlaces]="0"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.HeatingPowerDraw"
    (onStatsRequested)="
      showStats(logEntryTypes.HeatingPowerDraw, 'Leistung Wärmetauscher')
    "
    [value]="(dashboardValues$ | async)?.heatingPower || null"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Vorlauf Wärmetauscher"
    [decimalPlaces]="1"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.AdvanceTemperature"
    (onStatsRequested)="
      showStats(logEntryTypes.AdvanceTemperature, 'Vorlauf Wärmetauscher')
    "
    [value]="(dashboardValues$ | async)?.advanceTemperature || null"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Rücklauf Wärmetauscher (Primär)"
    [decimalPlaces]="1"
    [value]="(dashboardValues$ | async)?.primaryRefluxTemperature || null"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Rücklauf Wärmetauscher (Sekundär)"
    [decimalPlaces]="1"
    [value]="(dashboardValues$ | async)?.secondaryRefluxTemperature || null"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Ventilöffnung Wärmetauscher"
    [decimalPlaces]="0"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.ValveOpening"
    (onStatsRequested)="
      showStats(logEntryTypes.ValveOpening, 'Ventilöffnung Wärmetauscher')
    "
    [value]="(dashboardValues$ | async)?.valveOpening || null"
  ></app-decimal-value>

  <app-decimal-value
    class="value-card"
    label="Pufferspeicher Oben"
    [decimalPlaces]="1"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.BufferTemperature"
    (onStatsRequested)="
      showStats(logEntryTypes.BufferTemperature, 'Pufferspeicher Oben')
    "
    [value]="(dashboardValues$ | async)?.bufferTemperatureTop || null"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Pufferspeicher Unten"
    [decimalPlaces]="1"
    [value]="(dashboardValues$ | async)?.bufferTemperatureBottom || null"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Warmwasserspeicher Oben"
    [decimalPlaces]="1"
    [canShowStats]="true"
    [isActive]="visibleStats === logEntryTypes.BoilerTemperature"
    (onStatsRequested)="
      showStats(logEntryTypes.BoilerTemperature, 'Warmwasserspeicher Oben')
    "
    [value]="(dashboardValues$ | async)?.boilerTemperatureTop || null"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Warmwasserspeicher Unten"
    [decimalPlaces]="1"
    [value]="(dashboardValues$ | async)?.boilerTemperatureBottom || null"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Pufferspeicher Soll"
    [decimalPlaces]="1"
    [value]="(dashboardValues$ | async)?.targetBufferTemperature || null"
    [canEdit]="true"
    (onEditRequested)="bufferTemperatureEditRequested()"
  ></app-decimal-value>
  <app-decimal-value
    class="value-card"
    label="Warmwasserspeicher Soll"
    [decimalPlaces]="1"
    [value]="(dashboardValues$ | async)?.targetBoilerTemperature || null"
    [canEdit]="true"
    (onEditRequested)="boilerTemperatureEditRequested()"
  ></app-decimal-value>
</div>
