name: tests

on: [push]

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Cache .nuke/temp, ~/.nuget/packages
        uses: actions/cache@v3
        with:
          path: |
            .nuke/temp
            ~/.nuget/packages
          key: ${{ runner.os }}-${{ hashFiles('**/*.csproj') }}
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0'
      - name: Run './build.cmd PushDocker -Configuration Release'
        run: ./build.cmd PushDocker -Configuration Release
        env:
            DockerRegistryUrl: ghcr.io/${{github.repository_owner}}
            DockerRegistryUsername: ${{github.actor}}
            DockerRegistryPassword: ${{secrets.GITHUB_TOKEN}}
